
.center_buttons{
    margin: 15px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-button{
    margin: 10px 20px;
}
.expand{
    width: 100%;
}
.icon{
    font-size: 30px;
}
