<app-header title="Edit Player" route="tabs/players"></app-header>

<ion-content>
  <form>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Player name:</ion-label>
          <ion-input #txtName="ngModel" [(ngModel)]="name" name="name" value="{{player.name}}"
            placeholder="Player Name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Avatar:</ion-label>
          <ion-input #txtLogo="ngModel" [(ngModel)]="avatar" name="avatar" value="{{player.avatar}}"
            placeholder="Team Logo"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-input #txtTeam="ngModel" type="hidden" [(ngModel)]="teamId" name="teamId" value="{{player.teamId}}"
      placeholder="Team"></ion-input>

    <ion-button class="edit-button" (click)="submit()">
      Edit Player
    </ion-button>
  </form>
</ion-content>