<ion-header>
  <ion-toolbar>
    <ion-title>Players</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let player of playersList">
      <ion-avatar slot="start">
        <img src="{{player.avatar}}" alt="Avatar">
      </ion-avatar>
      <ion-label>
        <h2 (click)="goToPlayerDetail(player.id)">{{player.name}}</h2>
      </ion-label>
      <div class="end">
        <ion-tab-button (click)="goToEditPlayer(player.id)">
          <ion-icon name="create"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="deletePlayer(player.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-tab-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
